.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('D:\REACTJS_DEMO\my-app\public\assets\img\image.png');
    background-size: cover;

}

.login-box {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #1877f2;
}

.form-control {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    background-color: #1877f2;
    border-color: #1877f2;
    padding: 10px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #165db2;
    border-color: #165db2;
}

.forgot-password {
    display: block;
    color: #1877f2;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
}

.btn-success {
    background-color: #42b72a;
    border-color: #42b72a;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.btn-success:hover {
    background-color: #36a420;
    border-color: #36a420;
}